.config/zsh/zsh-history
.config/tmux/sessions
.config/tmux/plugins
.config/nvim/lazy-lock.json
.config/nvim/lua/custom/colorscheme.lua
.config/kitty/colorscheme.conf
.config/tmux/dynamic_colors.conf
.env
