include "local.kdl"

//-----  ENVIRONMENT
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    MOZ_ENABLE_WAYLAND "1"
    CLUTTER_BACKEND "wayland"
    GDK_BACKEND "wayland,x11,*"
    GDK_DPI_SCALE "1"
    GDK_SCALE "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    GSK_RENDERER "ngl"
    WLR_NO_HARDWARE_CURSORS "1"
}


//-----  AUTOSTART
spawn-at-startup "waybar"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"

spawn-at-startup "wpaperd" "-d"

spawn-at-startup "sunsetr"

spawn-at-startup "vicinae" "server"
spawn-at-startup "Telegram"
spawn-at-startup "kitty"

// mount the server nas as a local folder "~/Server"
spawn-at-startup "rclone" "mount" "--vfs-cache-mode" \
                 "writes" "--dir-cache-time" "5s" \
                 "karamanliev-dav:" "Server" "--daemon"

//-----  GENERAL
hotkey-overlay {
    skip-at-startup
}

overview {
    workspace-shadow {
        off
    }
}

gestures {
  hot-corners {
    off
  }
}

prefer-no-csd
screenshot-path "/tmp/screenshot.png"

clipboard {
    disable-primary
}


//-----  INPUT
input {
    keyboard {
        xkb {
            layout "us,bg"
            variant ",phonetic"
        }

        repeat-delay 425
        repeat-rate 50
        numlock
    }

    mouse {
        accel-speed 0
        accel-profile "flat"
        middle-emulation
        scroll-button-lock
    }

    disable-power-key-handling
    workspace-auto-back-and-forth
    // warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="30%"
}


//-----  LAYOUT
layout {
    gaps 8

    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.9
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#bb9af7FF"
        inactive-color "#505050"
    }

    background-color "transparent"
}

//----- ALT+TAB
recent-windows {
    debounce-ms 750

    open-delay-ms 250

    highlight {
        active-color "#bb9af7FF"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window scope="workspace"; }
        Alt+Shift+Tab   { previous-window scope="workspace"; }
        Alt+Escape      { next-window scope="output"; }
        Alt+Shift+Escape{ previous-window scope="output"; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}


//-----  WORKSPACES


//-----  RULES
layer-rule {
    match namespace="^wpaperd"
    place-within-backdrop true
}

window-rule {
    match app-id="system_monitor_btop"
    match app-id="org.gnome.Loupe"
    match app-id="org.gnome.NautilusPreviewer"
    open-focused true
    open-floating true
    default-column-width { proportion 0.9; }
    default-window-height { proportion 0.9; }
}

window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    open-floating true
    default-floating-position x=65 y=8 relative-to="top-right"
    default-column-width { fixed 900; }
    default-window-height { fixed 750; }
}

window-rule {
    match app-id="blueman-manager"
    open-floating true
    default-floating-position x=390 y=8 relative-to="top-right"
    default-column-width { fixed 565; }
    default-window-height { fixed 450; }
}

window-rule {
  match title="DevTools"
  default-column-width { fixed 680; }
}

window-rule {
    match app-id="org.telegram.desktop"
    open-maximized true
    open-on-workspace "CHAT"
}

window-rule {
    match app-id="com.viber.Viber"
    open-maximized true
    open-on-workspace "CHAT"
}

window-rule {
    match app-id="obsidian"
    open-maximized true
    open-on-workspace "NOTES"
}

window-rule {
    match app-id="betterbird"
    match app-id="thunderbird"
    open-maximized true
    open-on-workspace "MAIL"
}

//----- BINDS
binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Shift+Return hotkey-overlay-title="Open Named Terminal: kitty" { spawn-sh "name=$(zenity --entry --title='Kitty' --text='Set window title:') && kitty --title \"$name\""; }
    Mod+Space hotkey-overlay-title="Run an Application: vicinae" { spawn-sh "vicinae toggle"; }

    Mod+A repeat=false { toggle-overview; }
    Mod+Escape repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left-or-last; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+N     { focus-workspace-down; }
    Mod+P     { focus-workspace-up; }
    Mod+L     { focus-column-right-or-first; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+N     { move-column-to-workspace-down; }
    Mod+Shift+P     { move-column-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Ctrl+N      { move-workspace-down; }
    Mod+Ctrl+P      { move-workspace-up; }
    Mod+Ctrl+J      { move-workspace-down; }
    Mod+Ctrl+K      { move-workspace-up; }
    Mod+Tab         { focus-workspace-previous; }

    Mod+Ctrl+H        { focus-monitor-left; }
    Mod+Ctrl+L        { focus-monitor-right; }
    Mod+Shift+Ctrl+H  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L  { move-column-to-monitor-right; }
    Mod+Shift+Tab     { move-workspace-to-monitor-next; }

    Mod+Left          { focus-column-first; }
    Mod+Right         { focus-column-last; }
    Mod+Shift+Left    { move-column-to-first; }
    Mod+Shift+Right   { move-column-to-last; }

    Mod+WheelScrollDown      cooldown-ms=200 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=200 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=200 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=200 { move-column-to-workspace-up; }

    Mod+WheelScrollRight     cooldown-ms=200 { focus-column-right; }
    Mod+WheelScrollLeft      cooldown-ms=200 { focus-column-left; }
    Mod+Shift+WheelScrollRight cooldown-ms=200 { move-column-right; }
    Mod+Shift+WheelScrollLeft cooldown-ms=200 { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+C { focus-workspace "CHAT"; }
    Mod+M { focus-workspace "MAIL"; }
    Mod+G { focus-workspace "GAMES"; }
    Mod+B { focus-workspace "NOTES"; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R            { switch-preset-column-width; }
    Mod+Shift+R      { switch-preset-column-width-back; }
    Mod+Ctrl+R       { switch-preset-window-height; }
    Mod+Shift+Ctrl+R { switch-preset-window-height-back; }

    Mod+F            { maximize-column; }
    Mod+Shift+F      { expand-column-to-available-width; }
    Mod+Ctrl+F       { reset-window-height; }
    Mod+Shift+Ctrl+F { fullscreen-window; }

    Mod+X       { center-column; }
    Mod+Shift+X { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V { spawn-sh "vicinae vicinae://extensions/vicinae/clipboard/history"; }
    Mod+W { spawn-sh "vicinae vicinae://extensions/vicinae/wm/switch-windows"; }

    Mod+D       { toggle-window-floating; }
    Mod+Shift+D { switch-focus-between-floating-and-tiling; }

    Mod+Shift+T { toggle-column-tabbed-display; }
    Mod+T { focus-window-down-or-top; }

    Hangul { switch-layout "next"; }
    Mod+E  { spawn "nautilus"; }

    Mod+I { spawn-sh "name=$(zenity --entry --title='Workspace' --text='Enter new workspace name:') && [ -n \"$name\" ] && niri msg action set-workspace-name \"$name\""; }
    Mod+Shift+I { unset-workspace-name; }

    Mod+S { spawn-sh "rm -f /tmp/screenshot.png && niri msg action screenshot --show-pointer=false"; }
    Mod+Shift+S { spawn-sh "rm -f /tmp/screenshot.png && niri msg action screenshot --show-pointer=false && for i in $(seq 1 150); do [ -f /tmp/screenshot.png ] && break; sleep 0.05; done && [ -f /tmp/screenshot.png ] && satty -f /tmp/screenshot.png"; }
    Mod+Ctrl+S { spawn-sh "wl-paste --type image/png | satty -f -"; }
    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    F12 { spawn-sh "pkill -9 waybar; waybar"; }
    Mod+F12 { power-off-monitors; }
}
