/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
/* @define-color bg_main_tooltip rgba(25, 25, 25, 0.65); */
@define-color bg_main_tooltip rgba(26, 27, 38, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.15);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
  text-shadow: none;
  box-shadow: none;
  border: none;
  font-family: "SF Pro Text", "Ubuntu";
  font-weight: 600;
  font-size: 13px;
}

window#waybar {
  border-radius: 0px;
  background: @bg_main;
  color: @content_main;
}

.modules-right {
  margin-right: 8px;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: @border_main;
}

tooltip label {
  color: @content_main;
}

#workspaces {
  color: transparent;
  margin-right: 0px;
  margin-left: 6px;
}
#workspaces button {
  border-radius: 3px;
  padding: 1px 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  color: @content_main;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces button.empty {
  color: @content_inactive;
}

#workspaces button.active {
  color: @content_main;
}

#workspaces button.focused {
  color: @bg_active;
}

/* #workspaces button.urgent { */
/*   background: rgba(255, 200, 0, 0.35); */
/*   border-bottom: 3px dashed @warning_color; */
/*   color: @warning_color; */
/* } */

#workspaces button:hover {
  background: @bg_hover;
  color: @content_main;
}

#workspaces button.active {
  background: rgba(187, 154, 247, 0.6);
  color: @content_main;
}

#workspaces button.visible:not(.active) {
  background: rgba(255, 255, 255, 0.3);
}

#cpu,
#custom-gpu,
#disk,
#memory,
#temperature {
  padding: 3px;
}

#tray {
  margin: 6px 0;
  padding: 0 8px;
}

#tray > .needs-attention {
  border-bottom: 3px solid @warning_color;
}

#tray > widget {
  padding: 0 8px;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray > widget:hover {
  background: @bg_hover;
}

#pulseaudio {
  margin: 6px 0;
  padding: 0 8px;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pulseaudio:hover {
  background: @bg_hover;
}

#language {
  margin: 6px 0;
  padding: 0 8px;
  border-radius: 4px;
}

#language:hover {
  background: @bg_hover;
}

#clock {
  margin: 6px 0;
  padding: 0 8px;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#clock:hover {
  background: @bg_hover;
}

#custom-notification,
#custom-agenda,
#custom-weather,
#custom-timer,
#cpu,
#temperature,
#custom-gpu,
#memory {
  margin: 6px 0;
  padding: 0 8px;
  border-radius: 4px;
}

#custom-separator {
  margin-right: -3px;
}

#custom-notification:hover,
#custom-agenda:hover,
#custom-sunsetr:hover,
#custom-weather:hover,
#custom-timer:hover,
#custom-sunsetr_brightness:hover,
#idle_inhibitor:hover,
#cpu:hover,
#custom-gpu:hover,
#temperature:hover,
#memory:hover,
#custom-gsr:hover {
  background: @bg_hover;
}

#custom-notification.cc-open {
  background: @bg_hover;
}

#custom-sunsetr,
#custom-sunsetr_brightness,
#custom-gsr,
#idle_inhibitor {
  margin: 6px 0;
  margin-top: 8px;
  padding: 0px;
  border-radius: 4px;
}

#custom-gsr {
  margin-right: 8px;
}

#idle_inhibitor {
  margin-left: 2px;
  margin-right: 10px;
}

#custom-gsr {
  margin-left: 8px;
}

#custom-gsr.recording,
#custom-gsr.both {
  color: #ff757f;
  animation: blink 1s infinite alternate;
}

#custom-gsr.paused {
  color: #ffc777; /* Red color for recording */
}

#custom-gsr.replay {
  color: #c3e88d;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
