os:
  edit: nvim --server "${NVIM_SERVER}" --remote-send "<cmd>e {{filename}}<cr>"; [ "${LAZYGIT_KILL_PANE}" = "true" ] && tmux kill-pane || true;
  editAtLine: nvim --server "${NVIM_SERVER}" --remote-send "<cmd>e +{{line}} {{filename}}<cr>"; [ "${LAZYGIT_KILL_PANE}" = "true" ] && tmux kill-pane || true;
  open: nvim --server "${NVIM_SERVER}" --remote-send "<cmd>e {{filename}}<cr>"; [ "${LAZYGIT_KILL_PANE}" = "true" ] && tmux kill-pane || true;
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers  --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
gui:
  sidePanelWidth: 0.25
  enlargedSideViewLocation: top
  nerdFontsVersion: "3"
  border: "single"
  showDivergenceFromBaseBranch: arrowAndNumber
  theme:
    activeBorderColor:
      - "#b4befe"
      - bold
    inactiveBorderColor:
      - "#a6adc8"
    optionsTextColor:
      - "#89b4fa"
    selectedLineBgColor:
      - "#313244"
    cherryPickedCommitBgColor:
      - "#45475a"
    cherryPickedCommitFgColor:
      - "#b4befe"
    unstagedChangesColor:
      - "#f38ba8"
    defaultFgColor:
      - "#cdd6f4"
    searchingActiveBorderColor:
      - "#f9e2af"
  authorColors:
    "*": "#b4befe"
promptToReturnFromSubprocess: false
notARepository: "skip"
keybinding:
  universal:
    edit: <disabled>
    openFile: e
