os:
  edit: "~/.config/lazygit/scripts/nvim-edit.sh {{filename}}"
  editAtLine: "~/.config/lazygit/scripts/nvim-edit.sh {{filename}} {{line}}"
  editInTerminal: false
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers  --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
gui:
  sidePanelWidth: 0.3
  enlargedSideViewLocation: top
  expandFocusedSidePanel: true
  expandedSidePanelWeight: 3
  nerdFontsVersion: "3"
  border: "single"
  showDivergenceFromBaseBranch: arrowAndNumber
  theme:
    activeBorderColor:
      - "#b4befe"
      - bold
    inactiveBorderColor:
      - "#a6adc8"
    optionsTextColor:
      - "#89b4fa"
    selectedLineBgColor:
      - "#313244"
    cherryPickedCommitBgColor:
      - "#45475a"
    cherryPickedCommitFgColor:
      - "#b4befe"
    unstagedChangesColor:
      - "#f38ba8"
    defaultFgColor:
      - "#cdd6f4"
    searchingActiveBorderColor:
      - "#f9e2af"
  authorColors:
    "*": "#b4befe"
promptToReturnFromSubprocess: false
notARepository: "skip"
keybinding:
  universal:
    quit: Q
customCommands:
  - key: q
    context: global
    command: 'if [ -n "${LAZYGIT_POPUP_SESSION}" ]; then tmux detach-client; fi'
    description: Close popup (detach) or no-op
    output: terminal
