[user]
  name = Hristo Karamanliev

[core]
  editor = nvim
  pager = delta --features=interactive

[fetch]
  prune = true

[difftool]
  prompt = false

[diff]
  tool = codediff
  colorMoved = default

[difftool "codediff"]
  cmd = "nvim \"$LOCAL\" \"$REMOTE\" +\"CodeDiff file $LOCAL $REMOTE\""

[merge]
  tool = codediff

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "codediff"]
  cmd = "nvim \"$MERGED\" -c \"CodeDiff merge \"$MERGED\"\""

[interactive]
  diffFilter = delta

[delta]
  navigate = true
  line-numbers = true
  tabs = true
  hyprlinks = true
  true-color = always

[delta "interactive"]
  side-by-side = true

[include]
  path = ~/.config/git/delta.conf

[include]
  path = ~/.config/git/local.conf

[init]
  defaultBranch = main
