[user]
  name = Hristo Karamanliev

[core]
  editor = nvim
  pager = delta --features=interactive

[fetch]
  prune = true

[difftool]
  prompt = false

[diff]
  tool = nvimdiff
  colorMoved = default

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
  tool = diffview

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[interactive]
  diffFilter = delta

[delta]
  navigate = true
  line-numbers = true
  tabs = true
  hyprlinks = true
  true-color = always

[delta "interactive"]
  side-by-side = true

[include]
  path = ~/.config/git/delta.conf

[include]
  path = ~/.config/git/local.conf
