/*

  Dracula theme for libadwaita
  and adw-gtk3 - https://github.com/lassekongo83/adw-gtk3

  Colors from - https://draculatheme.com

  1. If ~/.config/gtk-4.0/gtk.css and/or ~/.config/gtk-3.0/gtk.css exists, make backups
  2. Enable the adw-gtk3-dark theme
  3. Save this file to ~/.config/gtk-4.0/gtk.css
  4. Make the file a symbolic link to ~/.config/gtk-3.0/gtk.css (or copy it to that location)
  5. Close and re-open any open apps or log out and in again

*/

/* Global color definitions */
/* dark colors (default) */
/* @define-color window_bg_color #eaeaea; */
/* @define-color window_fg_color rgba(0,0,0,0.8); */
/* @define-color view_bg_color #f7f7f7; */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   @define-color window_bg_color #1E2030; */
/*   @define-color window_fg_color #c8d3f5; */
/*   @define-color view_bg_color #222436; */
/* } */

@define-color view_fg_color @window_fg_color;
@define-color accent_bg_color #bd93f9;
@define-color accent_color @accent_bg_color;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
/* @define-color popover_bg_color #2f334d; */
@define-color popover_fg_color @view_fg_color;
@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;
@define-color card_bg_color rgba(255, 255, 255, 0.08);
@define-color card_fg_color @window_fg_color;
@define-color sidebar_bg_color @headerbar_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0,0,0,0.25);
@define-color selected_bg_color rgba(189, 147, 249, 0.35);
@define-color selected_fg_color @window_fg_color;

*:selected {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

.nautilus-list-view cell:selected {
  background-color: transparent;
}

menuitem:hover,
menubar > menuitem:hover {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}
